#map{
    height: 50%;
    width: 100%;
}

#enviar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#ubication{

  display: flex;
  align-items: center;
  justify-content: center;
}