<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Frutas, Verduras y Legumbres.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuestros Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Buscar producto
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Buscar" (ionInput)="filter($event.target.value)"></ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Productos
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="viewDetails(product)" *ngFor="let product of filteredProducts">
          <ion-avatar slot="start"><ion-img src="{{product.img}}"></ion-img></ion-avatar>
          <ion-label>{{product.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
