<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Frutas y Verduras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuestros Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Buscar producto
    </ion-card-header>
    <ion-card-content>
      <ion-input ([ngModule])="productName">
        <ion-icon name="search-outline"></ion-icon>
      </ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Productos
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let product of products">
        <ion-item>
              <ion-avatar slot="start"><ion-img src="{{product.img}}"></ion-img></ion-avatar>
              <ion-label>{{product.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 
  
</ion-content>
