
ion-slide{
  display: block;
}


ion-slides {
  --bullet-background: #2CAFC4;
  --bullet-background-active: #B3BEC0;
}


.double{
  height: 50%;
}

.double p{
 border-color: black;
  width: 90%;
  position: fixed;
  margin-top:20%;
  color: black;
  font-size: 28px;
  font-weight: bold;

}

.double img{
  height: 100%;
  object-fit: cover;
}
