<ion-header >
 
</ion-header>

<ion-content>
  

  <ion-slides scrollbar="true" [options]="vertical" > 
    <ion-slide>
      <ion-slides class="double"  pager="true" >
        <ion-slide *ngFor="let slide of slides">
          <div style="width: 100%; height: 100%;">
            <img src={{slide.img}}/>
          </div>
        </ion-slide>
      </ion-slides>

      <ion-slides class="double" pager="true" >
        <ion-slide *ngFor="let slide of slides1">       
          <div style="width: 100%; height: 100%;">
           <img src={{slide.img}}/>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides>
</ion-content>
