<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Quiénes somos?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card color="primary" button="true" >
    <img src="assets/img/Contact/farm.jpg">
    <ion-card-header>
      <ion-card-title color="light">¡Bienvenidos a FarmFood!</ion-card-title>
    </ion-card-header>


    <ion-card-content>
      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="assets/img/Contact/farmer.jpg">
        </ion-avatar>
        <ion-label>
          Juan Pérez
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">Hola, mi nombre es Juan Pérez y soy agricultor.<br> FarmFood es una aplicación creada en colaboración con estudiantes de la FCFM. Nos da la oportunidad de invitarte a que conozcas nuestro trabajo. 
        <br>
        <br>
        Actualmente contamos con dos sembradíos, ambos con alimento de excelente calidad, nuestros productos principales en el primer sembradío son la <ion-text class="link">papa</ion-text>, <ion-text class="link">frijol</ion-text> y <ion-text class="link">maíz</ion-text>.
        <br>
        En nuestro segundo sembradío contamos con una gran variedad de frutas, entre ellas; <ion-text class="link">sandía</ion-text>, <ion-text class="link">melón</ion-text> y <ion-text class="link">naranja</ion-text>.
        <br>
        <br>
        ¡Te invitamos a que conozcas nuestro equipo y lugar de trabajo!
        </ion-label>

      </ion-item>

    </ion-card-content>
  </ion-card>
  
  <div id="visitanos">
    <ion-button href="tab4" fill="outline">Visítanos</ion-button>
  </div>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-footer>

</ion-content>
