<ion-header>
  <ion-toolbar>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="product === null">
    <ion-card-header>
      Ocurrió un error :/
    </ion-card-header>
    <ion-button (click)="back()">Volver</ion-button>
  </ion-card>
  <ion-card *ngIf="product !== null">
    <ion-card-header>
      {{product.name}}
      <ion-img src="{{product.img}}"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <p>{{product.desc}}</p><br>
      <!--Video-->
      
      <div class="centrado">
        <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(play())" allow="autoplay;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen *ngIf="product.video !== ''"></iframe><br>
        <ion-button (click)="back()" fill="outline">Volver</ion-button> <!--Centrar botón?-->
      </div>
      
    </ion-card-content>
  </ion-card>
</ion-content>
